.wrapper {
   .menu-items {
      margin-left: 0px;
      justify-content: flex-start;
      padding: 0;
      border-radius: 0;
      line-height: 1.8rem;
   }

   .arrowUp {
      overflow: visible;
      content: '';
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      top: -12px;
      right: 15px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 15px solid white;
   }

   .arrowUser {
      right: 23px;
   }

   .sub-menu-item span {
      font-size: 14px !important;
   }
}

.MenuBody {
   overflow-y: auto;
   max-height: var(--max-height-menu-list);
}

//Header
.header-wrapper {
   flex-shrink: 0;
   position: relative;
   height: 50px;
   margin-top: -8px;
}

.header-back-btn {
   width: 50px;
   height: 100%;
   background-color: transparent;
   cursor: pointer;
}

.header-title {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: monospace;
   font-size: 16px;
}

.menuOption {
   margin-top: 15px;
}
