.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px 5px;
   width: 100%;
   min-width: 100px;
   border-radius: 4px;
   border: 1px solid transparent;
   background-color: transparent;

   user-select: none;
   cursor: pointer;
   font-family: Arial, Tahoma, sans-serif, 'Roboto';
   font-weight: 600;
   font-size: 15px;

   + .wrapper {
      margin-left: 16px;
   }
}

.primary {
   background-color: var(--primary);
   color: white;

   &:hover {
      background-color: #e91f47;
   }
}

.upload {
   min-width: 110px;
   border: 1px solid rgba(22, 24, 35, 0.12);
   border-radius: 2px;
   color: black;

   svg {
      margin-right: 8px;
   }

   &:hover {
      background-color: rgba(197, 197, 197, 0.12);
   }
}

.outline {
   background-color: white;
   border-color: var(--primary);
   color: var(--primary);

   &:hover {
      background-color: rgba(254, 44, 85, 0.06);
   }
}

.disable {
   pointer-events: none;
   opacity: 0.5;
}

.small {
   min-width: 88px;
   padding: 4px 16px;
}

.large {
   padding: 14px 16px;
   min-width: 140px;
}

.icon {
   margin-right: 8px;
   display: inline-block;
   width: 20px;
   text-align: center;
}
