.DivContainerSug {
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   position: absolute;
   background-color: #fff;
   z-index: 1001;
   width: 100%;
   height: auto;
   margin-top: 9px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;

   .DivInnerSug {
      margin-top: 8px;
      width: 100%;
   }
}

.searchResult {
   display: none;
}

.menuMore {
   margin-top: 12%;
   right: 200px;
   width: 223px;
   display: none;
}
