.DivContainerSug {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 100%;
   height: auto;
   margin-top: 9px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   z-index: 1001;

   .DivInnerSug {
      margin-top: 8px;
      width: 100%;
   }
}

.searchResult {
   display: none;
}

.menuMore {
   top: 100%;
   right: -16px;
   width: 223px;
   overflow: hidden;
}
