.Wrapper {
   position: fixed;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   overflow-y: hidden;
   overflow-x: hidden;
   width: 356px;
   min-height: 100%;
   padding: 20px 0 26px;
   margin-left: -8px;
   overscroll-behavior-y: contain;
   perspective: 1px;
   perspective-origin: right top;
   top: 60px;
   bottom: 0;
   background-color: white;
   transition: 200ms ease-in-out 0s;

   &:hover {
      overflow-y: auto;
   }
}

.DivWrapperContainer {
   position: relative;
   padding: 16px 0;
   font-size: 14px;
   font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
   font-weight: 600;
   line-height: 20px;

   .LoginText {
      color: rgba(22, 24, 35, 0.5);
      font-size: 16px;
      line-height: 22px;
   }

   .BtnLogin {
      margin-top: 20px;
      height: 48px;
      font-weight: bold;
   }

   &::before {
      content: '';
      position: absolute;
      left: 8px;
      right: 8px;
      top: 0;
      height: 1px;
      background: rgba(22, 24, 35, 0.12);
      -webkit-transform: scaleY(0.5);
      -moz-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
      transform: scaleY(0.5);
   }
}
