@import 'normalize.css';

:root {
   --primary: #fe2c55;
   --NoticedInbox: #dd274b;
   --icon-check-color: rgb(51, 216, 237);
   --item-hover: rgba(22, 24, 35, 0.03);
   --default-layout-height: 60px;
   --max-height-menu-list: 590px;

   --height-primary-button: 36px;
   --min-width-button: 110px;
   --width-horizontal-spacer: 24px;
   --font-primary: 'ProximaNova', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   font-size: 62.5%;
}

body {
   font-family: var(--font-primary);
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
   overflow-y: overlay;
}

div {
   display: block;
}

button,
input {
   border: none;
   outline: none;
}

a {
   color: black;
   text-decoration: none;
}

//Scrollbar CSS
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}

html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

// Fonts
@font-face {
   font-family: ProximaNova;
   src: url('/Asset/fonts/Proxima-Nova-Bold.woff');
   font-weight: 700;
}

@font-face {
   font-family: ProximaNova;
   src: url('/Asset/fonts/Proxima-Nova-Regular.woff2');
   font-weight: 400;
}

@font-face {
   font-family: ProximaNova;
   src: url('/Asset/fonts/Proxima-Nova-Semibold.woff2');
   font-weight: 600;
}

@font-face {
   font-family: SofiaPro;
   src: url('/Asset/fonts/sofiapro-bold.woff2');
   font-weight: 600;
}
