.logo {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
}
.accountItem {
   margin-left: 12px;
}

.name {
   font-size: 16px;
   font-weight: 600;
}

.check {
   margin-left: 4px;
   color: rgb(32, 213, 236);
   font-size: 13px;
}

.userName {
   color: rgba(22, 24, 35, 0.5);
   font-weight: 400;
   font-size: 1.4rem;
}
