.DivContainerHeader {
   display: flex;
   justify-content: space-around;
   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
   width: 100%;
   height: 60px;
   z-index: 1000;
}

.DivWrapperHeader {
   --search-button-width: 52px;
   --search-icon-color: rgba(22, 24, 35, 0.34);

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px 0;
   width: 1150px;
   padding-right: 24px;
   padding-left: 20px;

   .DivLogoLink {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 30px;
      color: black;
      font-weight: bold;
      padding: 2px;
   }
}

// Container Action
.DivUploadAndUser {
   display: flex;
   align-items: center;

   .DivMessageContainer {
      margin-left: 16px;
      cursor: pointer;
      padding: 3px 3px 0;
      width: 3.2rem;
      height: 3.2rem;

      .MessIcon {
         min-width: 0;
         width: 3.2rem;
         height: 3.2rem;
      }
   }

   .DivInboxContainer {
      position: relative;
      margin-left: 16px;
      cursor: pointer;
      padding: 3px 3px 0;
      width: 32px;
      height: 32px;
      font-size: 16px;

      .IbIcon {
         min-width: 0;
         width: 3.2rem;
         height: 3.2rem;
      }

      .CircleNoticedInbox {
         top: -6px;
         right: -10px;
         height: 2rem;
         padding: 0px 6px;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 10px;
         font-size: 13px;
         font-weight: 600;
         color: white;
         background-color: var(--NoticedInbox);
      }
   }

   .iconAction {
      font-size: 25px;
   }

   .DivOptionContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      user-select: none;
      cursor: pointer;
   }

   .DivOptionContainer .popper-wrap {
      margin-top: 15px;
      padding-bottom: 8px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.7s, opacity 0.7s;
   }

   .DivOptionContainer:hover .popper-wrap {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s linear 0s, opacity 0.3s;
   }

   .DivProfileContainer {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      margin-left: 13px;

      .icon-more {
         width: 20px;
         height: 20px;
      }

      .avatar-profile {
         width: 32px;
         height: 32px;
         object-fit: cover;
         border-radius: 50%;
      }
   }
}
