.DivContainerHeader {
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
   width: 100%;
   height: 60px;
   z-index: 1000;
}

.DivWrapperHeader {
   --search-button-width: 52px;
   --search-icon-color: rgba(22, 24, 35, 0.34);

   display: flex;
   justify-content: space-between;
   padding: 5px 0;
   width: 1150px;
   padding-right: 24px;
   padding-left: 20px;

   .DivLogoLink {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 30px;
      color: black;
      font-weight: bold;
      padding: 2px;
   }
}

.DivSearchMachine {
   background-color: rgb(241, 241, 242);
   border-radius: 92px;
   width: 361px;
   height: 46px;
   position: relative;
   border: 1.5px solid transparent;

   .FromElement {
      width: 361px;
      height: 100%;
      padding: 0px 0px 0px 16px;
      display: flex;
      align-items: center;

      .InputElement {
         height: 100%;
         border: none;
         outline: none;
         font-size: 16px;
         background-color: transparent;
         width: 292px;
         height: 32px;
         caret-color: var(--primary);
      }

      .InputElement:not(:placeholder-shown) ~ .BtnSearch {
         color: rgba(22, 24, 35, 0.75);
      }
   }

   .ClearBtn,
   .Loading {
      position: absolute;
      right: calc(var(--search-button-width) + 16px);
      color: var(--search-icon-color);
      cursor: pointer;
   }

   &:focus-within {
      border-color: #c5c6c9;
   }
}

.SpanSplice {
   width: 1px;
   height: 28px;
   margin: -3px 0;
   background: rgba(22, 24, 35, 0.12);
}

.BtnSearch {
   background-color: transparent;
   border-radius: 0px 92px 92px 0;
   border: none;
   outline: none;
   padding: 10px 16px 11px 12px;
   cursor: pointer;
   color: var(--search-icon-color);
   font-size: 1.8rem;
   width: var(--search-button-width);

   &:hover {
      background-color: rgb(232, 232, 233);
   }
}

.DivContainerSug {
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   position: absolute;
   background-color: #fff;
   z-index: 1001;
   width: 361px;
   height: auto;
   margin-top: 9px;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;

   .DivInnerSug {
      margin-top: 7px;
   }

   ul {
   }

   li {
      list-style: none;
      width: 361px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
         width: 15px;
         height: 15px;
         margin-right: 10px;
      }

      a {
         color: black;
         text-decoration: none;
         font-size: 16px;
         font-weight: 700;
      }

      &:hover {
         background-color: rgba(197, 197, 197, 0.12);
      }
   }
}

// Container Action
.DivUploadAndUser {
   display: flex;
   align-items: center;

   .DivUploadContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 110px;
      padding: 0 16px;
      height: 36px;
      border: 1px solid rgba(22, 24, 35, 0.12);
      border-radius: 2px;
      user-select: none;
      cursor: pointer;

      a {
         text-decoration: none;
         color: black;
         font-weight: bold;
         font-size: 16px;

         svg {
            margin-right: 8px;
         }
      }

      &:hover {
         background-color: rgba(197, 197, 197, 0.12);
      }
   }

   .DivLoginContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      background-color: var(--primary);
      padding: 6px 8px;
      border-radius: 4px;
      user-select: none;
      cursor: pointer;
      min-width: 100px;
      line-height: 22px;

      a {
         color: white;
         text-decoration: none;
         font-weight: bold;
         font-size: 16px;
      }

      &:hover {
         background-color: #e91f47;
      }
   }

   .DivOptionContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      user-select: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
   }

   .DivMessageContainer {
      margin-left: 16px;
      cursor: pointer;
      height: 32px;
      padding: 3px 3px 0;
      width: 32px;
      height: 32px;

      a {
         text-decoration: none;
         color: black;
      }
   }

   .DivInboxContainer {
      margin-left: 16px;
      cursor: pointer;
   }

   .DivProfileContainer {
      margin-left: 26px;
      cursor: pointer;
      background-color: rgb(238, 238, 238);
      border-radius: 30px;

      svg {
         padding: 5px 9px;
      }

      &:hover {
         background-color: var(--primary);
         color: white;
      }
   }
}
